.consent.banner-bottom {
  position: absolute;
  bottom: 0px;
  width:100%;
}

.consent.banner-top {
  position: absolute;
  top: 0px;
  width:100%;
}

.consent.box-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 40%;
  margin-left: 2rem;
  margin-top: 2rem;
}
.consent.box-bottom-right {
  position: absolute;
  bottom: 0px;
  right:0px;
  width: 40%;
  margin-left: 2rem;
  margin-top: 2rem;
}
.consent.box-top-left {
  position: absolute;
  top: 0px;
  left:0px;
  width: 40%;
  margin-left: 2rem;
  margin-top: 2rem;
}
.consent.box-top-right {
  position: absolute;
  top: 0px;
  right:0px;
  width: 40%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.reject {
  border: none;
  background: none;
  padding: 0;
}

.accept {
  width: 100%;
  color: #FFFFFF;
  border-color: #1863dc;
  background-color: #1863dc;
  padding: 8px 20px;
  display: inline-block;
  border: 1px solid;
}

.consent.light {
  color:black;
  background-color: white;
}

.consent.dark {
  color:white;
  background-color: black;
}

.consent.dark a {
  color: white;
}

.custom a {
  color: white;
}